<a href="https://colab.research.google.com/github/AnthonyGachuru/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/AnthonyG_LS_DS_123_Make_Explanatory_Visualizations_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT

### 1) Replicate the lesson code. I recommend that you [do not copy-paste](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit).

### 2) Reproduce one of the following using the matplotlib or seaborn libraries:

- [thanksgiving-2015](https://fivethirtyeight.com/features/heres-what-your-part-of-america-eats-on-thanksgiving/) (try the [`altair`](https://altair-viz.github.io/gallery/index.html#maps) library)
- [candy-power-ranking](https://fivethirtyeight.com/features/the-ultimate-halloween-candy-power-ranking/) (try the [`statsmodels`](https://www.statsmodels.org/stable/index.html) library)
- or another example of your choice!

#THANKSGIVING 2015

In [22]:
# Your Work Here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#Create Data Frame
df= pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/thanksgiving-2015/thanksgiving-2015-poll-data.csv')
df.head(5)
print(df.shape)

df.head(1)

(1058, 65)

   RespondentID  ...        US Region
0    4337954960  ...  Middle Atlantic

[1 rows x 65 columns]

In [37]:
df.columns

Index(['RespondentID', 'Do you celebrate Thanksgiving?',
       'What is typically the main dish at your Thanksgiving dinner?',
       'What is typically the main dish at your Thanksgiving dinner? - Other (please specify)',
       'How is the main dish typically cooked?',
       'How is the main dish typically cooked? - Other (please specify)',
       'What kind of stuffing/dressing do you typically have?',
       'What kind of stuffing/dressing do you typically have? - Other (please specify)',
       'What type of cranberry saucedo you typically have?',
       'What type of cranberry saucedo you typically have? - Other (please specify)',
       'Do you typically have gravy?',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Buttermilk',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - None',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1',
       'Do you typically pray before or after the Thanksgiving meal?',
       'How far will you travel for Thanksgiving?',
       'Will you watch any of the following programs on Thanksgiving? Please select all that apply. - Macy's Parade',
       'What's the age cutoff at your "kids' table" at Thanksgiving?',
       'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
       'Have you ever attended a "Friendsgiving?"',
       'Will you shop any Black Friday sales on Thanksgiving Day?',
       'Do you work in retail?',
       'Will you employer make you work on Black Friday?',
       'How would you describe where you live?', 'Age', 'What is your gender?',
       'How much total combined money did all members of your HOUSEHOLD earn last year?',
       'US Region'],
      dtype='object')

In [44]:
df1 = df.iloc[:, [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, -1]]

df1.head(2)

  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts  ...           US Region
0                                                NaN                                                                           ...     Middle Atlantic
1                                                NaN                                                                           ...  East South Central

[2 rows x 16 columns]

In [45]:
#Lets see if our data has missing columns
df1.isna().sum()

Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts                     903
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots                             816
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower                         970
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn                                594
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread                           823
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad                         843
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole    372
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese                 852
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes                     241
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits                      292
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash                              887
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad                     849
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole         427
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)              947
Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1            947
US Region                                                                                                                                        59
dtype: int64

In [46]:
#Removing the questions

Qt_rv = 'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - '

df1.columns = [column.replace(Qt_rv, '') for column in df1]

df1.head()

   Brussel sprouts  Carrots  ... Other (please specify).1           US Region
0              NaN  Carrots  ...                      NaN     Middle Atlantic
1              NaN      NaN  ...   Asian vinagrette salad  East South Central
2  Brussel sprouts  Carrots  ...                      NaN            Mountain
3  Brussel sprouts      NaN  ...                      NaN             Pacific
4  Brussel sprouts      NaN  ...                      NaN             Pacific

[5 rows x 16 columns]

In [47]:
#Column names
columns = df1.columns.to_list()
columns

['Brussel sprouts',
 'Carrots',
 'Cauliflower',
 'Corn',
 'Cornbread',
 'Fruit salad',
 'Green beans/green bean casserole',
 'Macaroni and cheese',
 'Mashed potatoes',
 'Rolls/biscuits',
 'Squash',
 'Vegetable salad',
 'Yams/sweet potato casserole',
 'Other (please specify)',
 'Other (please specify).1',
 'US Region']

In [48]:
#Lets replace missing columns with 0

cleaned = df1[columns].notnull().astype(int)

cleaned.head(10)

   Brussel sprouts  Carrots  ...  Other (please specify).1  US Region
0                0        1  ...                         0          1
1                0        0  ...                         1          1
2                1        1  ...                         0          1
3                1        0  ...                         0          1
4                1        0  ...                         0          1
5                1        1  ...                         0          1
6                0        0  ...                         0          1
7                0        1  ...                         0          1
8                1        0  ...                         0          1
9                1        1  ...                         0          1

[10 rows x 16 columns]

In [49]:
#Now combine the cleaned data with states
cleaned.drop(columns='US Region', inplace=True)
df2 = pd.concat([df1[['US Region']], cleaned], axis=1)
df2.head()

            US Region  ...  Other (please specify).1
0     Middle Atlantic  ...                         0
1  East South Central  ...                         1
2            Mountain  ...                         0
3             Pacific  ...                         0
4             Pacific  ...                         0

[5 rows x 16 columns]

In [50]:
#Lets groupby the US Region 

Grouped = df2.groupby('US Region').sum()
Grouped

                    Brussel sprouts  ...  Other (please specify).1
US Region                            ...
East North Central               22  ...                        17
East South Central                7  ...                        10
Middle Atlantic                  41  ...                        16
Mountain                          6  ...                         5
New England                      12  ...                         7
Pacific                          29  ...                        13
South Atlantic                   27  ...                        27
West North Central                3  ...                         5
West South Central                4  ...                        10

[9 rows x 15 columns]

In [54]:
Grouped['Favorite Sidedish'] = Grouped.idxmax(axis = 1)
Grouped

                    Brussel sprouts  ...                 Favorite Sidedish
US Region                            ...
East North Central               22  ...                   Mashed potatoes
East South Central                7  ...  Green beans/green bean casserole
Middle Atlantic                  41  ...                   Mashed potatoes
Mountain                          6  ...                   Mashed potatoes
New England                      12  ...                   Mashed potatoes
Pacific                          29  ...                   Mashed potatoes
South Atlantic                   27  ...                    Rolls/biscuits
West North Central                3  ...                   Mashed potatoes
West South Central                4  ...                    Rolls/biscuits

[9 rows x 16 columns]

In [55]:
df_states= pd.read_csv('https://raw.githubusercontent.com/cphalpert/census-regions/master/us%20census%20bureau%20regions%20and%20divisions.csv')

df_states['US Region']=df_states['Division']
df_states.head(5)
#create a new data with the info on states and cities in the US Regions

        State State Code Region            Division           US Region
0      Alaska         AK   West             Pacific             Pacific
1     Alabama         AL  South  East South Central  East South Central
2    Arkansas         AR  South  West South Central  West South Central
3     Arizona         AZ   West            Mountain            Mountain
4  California         CA   West             Pacific             Pacific

In [57]:
#Merged Grouped data with states data

Final = pd.merge(Grouped, df_states, on = 'US Region')
Final.head()

            US Region  Brussel sprouts  ...   Region            Division
0  East North Central               22  ...  Midwest  East North Central
1  East North Central               22  ...  Midwest  East North Central
2  East North Central               22  ...  Midwest  East North Central
3  East North Central               22  ...  Midwest  East North Central
4  East North Central               22  ...  Midwest  East North Central

[5 rows x 21 columns]

In [60]:
alt.Chart(Final).mark_bar().encode(
    x='Cauliflower',
    y='US Region',
    
    #title='Amoung of answer by state in which the side dish is Cauliflowe'
)

alt.Chart(...)

In [61]:
#Trials with altair
import altair as alt
from vega_datasets import data

states = alt.topo_feature(data.us_10m.url, 'states')
source = data.population_engineers_hurricanes.url
variable_list = ['population', 'engineers', 'hurricanes']

alt.Chart(states).mark_geoshape().encode(
    alt.Color(alt.repeat('row'), type='quantitative')
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(source, 'id', variable_list)
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
).repeat(
    row=variable_list
).resolve_scale(
    color='independent'
)

alt.RepeatChart(...)

#CANDY POWER

In [0]:
import statsmodels.api as sm

In [62]:
candy = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/candy-power-ranking/candy-data.csv')

print(candy.shape)

candy.head()

(85, 13)

  competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0      100 Grand          1       0  ...         0.732         0.860   66.971725
1   3 Musketeers          1       0  ...         0.604         0.511   67.602936
2       One dime          0       0  ...         0.011         0.116   32.261086
3    One quarter          0       0  ...         0.011         0.511   46.116505
4      Air Heads          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

# STRETCH OPTIONS

### 2) Reproduce another example from [FiveThityEight's shared data repository](https://data.fivethirtyeight.com/).


### 3) Make more charts!

Choose a chart you want to make, from [Visual Vocabulary - Vega Edition](http://ft.com/vocabulary).

Find the chart in an example gallery of a Python data visualization library:
- [Seaborn](http://seaborn.pydata.org/examples/index.html)
- [Altair](https://altair-viz.github.io/gallery/index.html)
- [Matplotlib](https://matplotlib.org/gallery.html)
- [Pandas](https://pandas.pydata.org/pandas-docs/stable/visualization.html)

Reproduce the chart. [Optionally, try the "Ben Franklin Method."](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) If you want, experiment and make changes.

Take notes. Consider sharing your work with your cohort!

In [0]:
# More Work Here